body {
	background-color: white;
}
h1 {
	font-size: 200%;
}
h2 {
	font-size: 160%;
}
h3 {
	font-size: 120%;
}
table.datasource {
	border: 0px;
	text-align: center;
}
tr.header {
	text-align: center;
	font-weight: normal;
	background-color: lightgray;
}
th {
	text-align: center;
	font-weight: normal;
	background-color: lightgray;
}
caption {
	text-align: left;
	font-style: italic;
	font-weight: bold;
}
figcaption {
	font-style: italic;
	font-weight: bold;
}
span.notice {
	font-style: italic;
	color: green;
}
span.comment {
	font-style: italic;
}
span.error {
	font-style: italic;
	font-weight: bold;
	color: red
}
.datasource {
	padding: 1px;
	margin: 1px;
	float: left;
	border: 1px solid black;
}
.statistics {
	padding: 1px;
	margin: 1px;
	clear: left;
}
.chart {
	padding: 1px;
	clear: left;
}
.dataset {
	padding: 1px;
	clear: left;
}

